{% load static %}
<!DOCTYPE html lang="">
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'index.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>
		{% block title %}{% endblock %}
	</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #6FCF97;font-size: 20px;">
	  <ul class="navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" href="{% url 'homepage:index' %}">C19 Simulation</a>
	    </li>
		<li class="navbar-nav">
			<a class="nav-link" href="{% url '/simulasi/jumlah' %}">Simulasi</a>
		</li>
		<li class="navbar-nav">
			<a class="nav-link" href="/simulasi/daftarpositif">Daftar Positif</a>
		</li>
		<li class="navbar-nav">
			<a class="nav-link" href="{% url 'statistik:persentasecovid' %}">Persentase Covid</a>
		</li>
		<li class="navbar-nav">
			<a class="nav-link" href="/feedback/">Feedback</a>
		</li>
		<li class="navbar-nav">
			<a class="nav-link" href="{% url 'rating:halaman_rating' %}">Rating</a>
		</li>
	  </ul>
	   <ul class="navbar-nav">
	  	{% if user.is_authenticated %}
	  	<li class="nav-item">
	  		<a class="nav-link" href="/logout/">Logout</a>
	  	</li>
	  	{% else %}
	  	<li class="nav-item">
	  		<a class="nav-link" href="/login/">Login</a>
	  	</li>
	  	<li class="nav-item">
	  		<a class="nav-link" href="/signup/">Sign Up</a>
	  	</li>
	  	{% endif %}
	  </ul>

	</nav>

	{% block content %}{% endblock %}
</body>
</html>