{% extends 'header.html' %}
{% load static %}

{% block meta %}
{% block title %}List Feedback{% endblock %}
{% endblock meta %}

{% block content %}
<div class = "container ">
    <div class = "justify-content-md-around text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <h4 style = "padding : 30px; color:black">~~  Kolom Feedback ~~</h4>
        <div>
            {% if feedbacks %}
                {% for feedback in feedbacks %}
                    <div id = "feeds" class = "row">
                        <div class = "col-md-2" style = "background-color:#6FCF97; padding:10px">
                            <p style = "font-weight:bold; color:white">{{feedback.nama}}</p>
                            <img src = {{feedback.img}}></img>
                        </div>   
                        <div class = "col-md-8" style = "padding : 10px;">
                            <p>{{feedback.pesan}}</p>
                        </div>  
                        <div class = "col-md-2" style = "padding:10px">
                            {% if feedback.num in status %}
                                <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src = "static/liked.png" class = "dislike" id="" data-id={{feedback.num}} width="32" height="32"></img>
                            {% else %}
                                <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src = "static/like.png" class = "like" id="" data-id={{feedback.num}} width="32" height="32"></img>
                            {% endif %}
                            <br>
                            <p class = "count">{{feedback.like}}</p>
                        </div>    
                    </div>
                    <br>
                    {% endfor %}
                </div>
            {% else %}
            <div id = "feeds" style = "padding : 20px">
                <p style = "padding-bottom:-10px">Dun dun dun, </p>
                <p style = "padding-top:-10px">Belum ada yang isi nih D: </p>
            </div>
            {% endif %}
        </div>
        <p style ="color:black">Kami menerima feedback kalian <a href = "/feedback/tambah/" style = "color:#6FCF97">disini</a></p>
        <p style ="color:black">Terima kasih telah mengunjungi website kami :D</p>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.dislike').onClick(function(){
            var num = event.target.dataset.id;
            $.ajax({ 
                url : 'dislike/?q=' + num,
                success : function(hasil) {
                    $(this).src = "/static/like.png";
                    var x = hasil.like;
                    document.getElementsByClassName("count").innerHtml.replace(x-1, x)
                }
            })
        });
        $('.like').onClick(function(){
            var num = event.target.dataset.id;
            $.ajax({ 
                url : 'like/?q=' + num,
                success : function(hasil) {
                    $(this).src = "/static/dislike.png";
                    var x = hasil.like;
                    document.getElementsByClassName("count").innerHtml.replace(x+1, x);
                }
            })
        });
    });
    function bigImg(x) {
        x.style.height = "40px";
        x.style.width = "40px";
    }

    function normalImg(x) {
        x.style.height = "32px";
        x.style.width = "32px";
    }
</script>


{% endblock content %}
