{% extends 'header.html' %}
{% load static %}

{% block meta %}
{% block title %}Tulis feedback{% endblock %}
{% endblock meta %}

{% block content %}
<div class="container" style ="font-family: Georgia, 'Times New Roman', Times, serif;">
    <h4 style = "text-align : center; padding:30px;">~~ Isi Feedback ~~</h4>
    <div class = "d-flex justify-content-md-around text-center card" style="font-family: Georgia, 'Times New Roman', Times, serif; width : 100%; padding:30px; border : 2px solid gray">
        <form action="/feedback/saveform/" method="POST">
            {% csrf_token %}
            
            <div style = "padding:30px;">
                <div class = "d-flex justify-content-md-around">
                    <label>
                        <input type="radio" name="img-picker"class = "radiop" value="1" checked>
                        <img src="{% static '1.png' %}" >
                    </label>   
                    
                    <label>
                        <input type="radio" name="img-picker"class = "radiop" value="2">
                        <img src="{% static '2.png' %}" >
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop"value="3">
                        <img src="{% static '3.png' %}">
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop" value="4">
                        <img src="{% static '4.png' %}">
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop" value="5">
                        <img src="{% static '5.png' %}">
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop" value="6">
                        <img src="{% static '6.png' %}">
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop" value="1">
                        <img src="{% static '7.png' %}">
                    </label> 

                    <label>
                        <input type="radio" name="img-picker" class = "radiop" value="8">
                        <img src="{% static '8.png' %}">
                    </label> 
                </div>

            </div>
            <br><br>
            <p style = "text-align:left;">Pesan :</p>
            {{form2}}
            <br><br>
            <button type="submit" class="btn" style="background-color: #6FCF97;color: white">Submit</button>
        </form>
    </div>
</div>


{% endblock content %}