{% extends "header.html" %}
{% load static %}
{% block title %}Daftar Positif{% endblock %}

{% block content %}
        <br>
        <br>
        <div class="row">
        	<div class="col-md-12">
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: larger;">
                    <center>
                    <b><p>Daftar Positif Covid</p>
                        <p>Daerah X</p></b>
                    <br>
                </center>
           		</div>
        	</div>
        
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:15px;width: 800px; height: 500px;
                     margin-left:auto;margin-right:auto;overflow:auto">
                    <center>
                    <input id="keyword" class="control" placeholder="Cari warga positif (nama)">
                    <br>
                    <br>
                    <table style="width: 100%;" class="table">
                        <tr style="background-color:  #6FCF97;font-weight: bold;">
                            <th>Nama </th>
                            <th>Usia</th>
                            <th>Alamat</th> 
                            <th>Jenis Kelamin</th> 
                            <th>Ubah Status</th> 
                        </tr>
                        {% if positif %}
                        {% for yangpositif in positif %}
                        <tr>
                            <td>{{ yangpositif.nama_penduduk}}</td>
                            <td>{{ yangpositif.usia }}</td>
                            <td>{{ yangpositif.alamat }}</td>
                            <td>{{ yangpositif.jenis_kelamin }}</td>
                            <td><a href="{% url 'sembuhkan' id=yangpositif.id %}" class="sbh" id='{{ yangpositif.nama_penduduk }}'><button  type="button" class="btn bs">Sembuhkan</button></a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                            <br>
                            
                            <h3>Belum ada Warga Positif<h3>

                        {% endif %}
                    </table>
                    </center>
                </div>
            </div>
        </div> 

        <div class="row">
        	<div class="col-md-12">
        		<center><a href="{% url 'form' %}"><button class="btn button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 50px;">Tambah Warga Lagi</button></a></center>
           	</div>
        	</div>
        
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'simulasi.js' %}"></script>  
{% endblock %}