{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Daftarkan Warga{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-md-12">
                <center>
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 70px;width: 500px;">
        			
        			<h2>Masukan Biodata Warga Baru</h2>
                    {{ berhasil }}
                    <br>
                    <br>
                	<form action="savependuduk" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <br>
                    <input type='submit' class ="sbt btn bs" value='Submit'>

                	</form>
                    
           		</div>
                </center>
        	</div>
        
        </div>

        <div class="row">
        	<div class="col-md-12">
        		<center><a href="{% url 'daftarpositif' %}"><button class="btn button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 20px;">Daftar Warga Positif</button></a></center>
           	</div>
        	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'simulasi.js' %}"></script> 
{% endblock %}