{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Jumlah Penduduk Awal{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-md-12">
                <center>
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 150px;width: 575px">
                    
                    <h2>Masukan Jumlah Penduduk Mula-Mula</h2>
                    <h6>Min : 1, Max : 999999</h6>
                	<form action="savejumlah" method="POST">
                    {% csrf_token %}
                    {{formjumlah|crispy}}
                    <br>
                    <input type='submit' id="sbt-jumlah" class="btn bs" value='Submit' style="font-family: Georgia, 'Times New Roman', Times, serif;">

                    </form>
                    <p class="mt-4">{{ warning }}</p>
                    <p class="mt-4">{{ warn }}</p>
    
                    <a href="{% url 'daftarpositif' %}"><button class="btn button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 20px;
                     ">Daftar Warga Positif</button></a>
                    
           		</div>
                </center>
        	</div>
        
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'simulasi.js' %}"></script>
{% endblock %}