{% extends 'header.html' %}
{% load static %}
{% block title %}Persentase Covid{% endblock %}

{% block content %}

{% if awal == 0 %}
<center>
	<p style="font-size: 24px"><b>Data belum dimasukkan. Silahkan mulai simulasi!</b></p>
	<a href="/simulasi/jumlah">
		<button id="simulasi" class="btn button-custom" style="background-color: #6FCF97; color:white; font-size: 20px">Mulai Simulasi</button>
	</a>
</center>

{% else %}
<center>
	<form action=""> 
		<select class="filter">
			<option value="placeholder">Filter by...</option>
			<option value="semua">Semua</option>
			<option value="status">Status COVID-19</option>
			<option value="gender">Jenis Kelamin</option>
			<option value="umur">Umur</option>
		</select>
	</form>
</center>
<br>

<div class="containerpair" id="statistik" style="margin-top: 2%;">

</div>
<br>
<br>
<center>
	<div class="a">
		Terima kasih sudah mencoba C19 Simulation 
		<br>
		Ingat, selalu jaga kesehatan di masa pandemi ini.
		<br>
		<br>
		<p style="font-size: 24px"><b>Sampai Jumpa Lagi!</b></p>
		<br>
		<a href="{% url 'statistik:reset' %}">
			<button id="reset" class="btn button-custom" style="background-color: #6FCF97; color:white; font-size: 20px">Coba Lagi</button>
		</a>
		<br>
		<br>
	</div>
</center>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/statistik.js"></script>

{% endblock %}