{% extends "header.html" %}
{% load static %}
{% block title %}C19 Simulation{% endblock %}

{% block content %}

<div class="container font-web" style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;margin-top: 150px;">
	<h1><b>Selamat Datang di Website C19Simulation !!</b></h1>
	<h3 style="margin-top: 40px">Web ini akan membantu anda membuat simulasi covid di suatu daerah X dengan asumsi seluruh penduduk awal berstatus negatif</h3>
	<h3 style="margin-top: 40px"><b>Selamat Mencoba</b></h3>
	<a class="btn button-custom" href="/simulasi/jumlah" style="margin-top: 30px;background-color: #6FCF97;color:white">Mulai !!</a>
</div>
{% endblock %}